<body>
    <div style="background-color: rgb(158, 192, 160); width: 20%; height: 100%;">

        <body>
            <button
                style=" width: 30%; color: white; margin-left: 70px; padding: 10px 24px; background-color: #cec7ae; margin-top: 10px; border-radius: 10%"
                id="createUser" type="button" (click)="emailDialog()">createUser</button>
            <br>
            <button
            style=" width: 30%; color: white; margin-left: 70px; padding: 10px 24px; background-color: #b1a8d2; margin-top: 10px; border-radius: 10%"
            id="getUser" type="button" (click)="getUserDialog()">getUser</button>
            <button
            style=" width: 30%; color: white; margin-left: 70px; padding: 10px 24px; background-color: #b1a8d2; margin-top: 10px; border-radius: 10%"
            id="getUsers" type="button" (click)="listUsers()">listUsers</button>
        </body>
    </div>
</body>